body {
    font-size: 16px;
    line-height: 24px;  
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}
      
:root {
    --standart-black: #000;
    --lazy-black: #283136;
    --goshawk-grey: #444444;
    --lazy-grey: #666;
    --standart-white: #fff;
    --lazy-white: #EEEEEE;
    --lazy-reed: #FB565A;
    --active-red: #E74246;
    --dark-red: #D7373B;

    --grenn-standart: #00CA74;
    --orange-standart: #EFC849;
    --green-lazy: #00BC6C;
    --green-active: #00AA62;
    --orange-lazy: #EAB534;
    --orange-active: #E5A722;
}

.standart__btn {  /*standart, hover and active style for all button*/
    text-decoration: none;
    border: none;
    color: var(--standart-white);
    background-color: var(--lazy-reed);
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
}

.standart__btn:hover {
    background-color: var(--active-red);
}

.standart__btn:active {
    background-color: var(--dark-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}
                    /*header block*/
 .header {       
    background-color: var(--lazy-white);
}

.nav__list .nav__list__elem {
    list-style: none;
    color: var(--standart-black);
}

.header__link {
    color: var(--standart-black);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

.header__link:hover {
    color: var(--lazy-reed);
}

/*for active link*/
/*.header__link__active {  
    border-bottom: 2px solid var(--lazy-reed);
}*/

.header__link:active {
    color: var(--standart-black);
    opacity: 0.3;
}
                    /*header carousel block*/
.carousel__title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--standart-black);
}

.carousel__text {
    color: var(--lazy-black);
}
                    /*main block*/
        /*main=>web offers block*/
.web__offers__list {
    list-style: none;
}

.web__offer__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--standart-black);
}

.web__offer__img {
    width: 300px;
    height: 146px;
    background-color: var(--lazy-grey);
}

.web__offer__text {
    color: var(--lazy-black);
}

.web__off__app__btn {
    background-color: var(--grenn-standart);
}

.web__off__app__btn:hover {
    background-color: var(--green-lazy);
}

.web__off__app__btn:active {
    background-color: var(--green-active);
}

.web__off__pres__btn {
    background-color: var(--orange-standart);
}

.web__off__pres__btn:hover {
    background-color: var(--orange-lazy);
}

.web__off__pres__btn:active {
    background-color: var(--orange-active);
}
                /*main=>our us info block*/
/*info*/
.our__us__info__title {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--standart-black);
    font-size: 16px;
line-height: 24px;
}

.our__us__info__text {
    color: var(--lazy-black);
}

.our__us__info__list__title {
    font-weight: bold;
    color: var(--lazy-black);
    font-size: 16px;
    line-height: 24px;
}

.our__us__info__list {
    list-style-type: none;
    color: var(--lazy-black);
}

.info__list__point::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;    
    background: #FB565A;
    margin-right: 5px;
    margin-bottom: 4px;
}
/*stats*/
.our__us__stat__img {
    background-color: var(--lazy-grey);
    width: 360px;
    height: 208px;
}

.our__us__stat__list__title {
    font-weight: bold;
    color: var(--standart-black);
    font-size: 16px;
    line-height: 24px;
}

.our__us__stat__list {
    list-style: none;
}

.stat__list__procent {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
}

.stat__list__text {
    font-size: 16px;
    line-height: 18px;
    color: var(--lazy-black);
}
                    /*main=>our partners block*/
.our__partners__list {
    list-style: none;
}

.our__partners__partner {
    opacity: 0.2;
}

.our__partners__partner:hover {
    opacity: 1;
}

.our__partners__partner:active {
    opacity: 0.1;
}
                        /*footer block*/
                    /*footer=>contact block*/
.contact__block__info {
    background-color: var(--standart-white);
}

.contact__block__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: var(--standart-black);
    text-transform: uppercase;
}

.contact__block__addres,
.contact__block__tel {
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: var(--lazy-grey);
}
                /*footer=>socials block*/
.footer__social__elem {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

.footer__social__button:hover .footer__social__button__path {
    fill: #E74246;
}

.footer__social__button:active .footer__social__button__path {
    fill: #D7373B;
}

.footer__social__button:active .footer__social__button__path__logo {
    fill: rgba(255, 255, 255, 0.3);
}

.footer__text__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--standart-black);
}

.footer__text__desc {
    font-size: 16px;
    line-height: 22px;
    color: var(--goshawk-grey);
}

