.page {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 24px;  
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto', 'Arial', sans-serif;

    box-sizing: border-box;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: flex-start;
}
      
:root {
    --standart-black: #000;
    --lazy-black: #283136;
    --black-opacity:#231F20;
    --goshawk-grey: #444444;
    --lazy-grey: #666;
    --standart-white: #fff;
    --lazy-white: #EEEEEE;
    --grey-db: #DBDBDB;
    --grey-df: #DFDFDF;
    --grey-d5: #D5D5D5;;
    --lazy-reed: #FB565A;
    --active-red: #E74246;
    --dark-red: #D7373B;

    --green-standart: #00CA74;
    --orange-standart: #EFC849;
    --green-lazy: #00BC6C;
    --green-active: #00AA62;
    --orange-lazy: #EAB534;
    --orange-active: #E5A722;
}

/*grid page style*/

.header__active {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 0px;
}

.header__logo {
    align-self: center;
}

.nav {
    justify-self: center;
    align-self: center;
}

.header__cart {
    justify-self: end;
    align-self: center;
}

.header__carousel__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.web__offers__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about__us {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.about__us__stat {
    justify-self: end;
}

.our__partners__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px;
    padding: 0px 0px;
}

.contact__block .contact__block__map{
    width: 100%;
}

.footer__contacts {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.footer__social__list {
    align-self: center;
}

.footer__text {
    align-self: center;
}

.standart__btn {  /*standart, hover and active style for all button*/
    text-decoration: none;
    border: none;
    color: var(--standart-white);
    background-color: var(--lazy-reed);
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    padding: 17px 40px 15px 39px;
}

.standart__btn:hover {
    background-color: var(--active-red);
}

.standart__btn:active {
    background-color: var(--dark-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
                    /*header block*/
 .header {       
    background-color: var(--lazy-white);
}

.header__active {
    margin: 0;
    padding: 0;
    margin-top: 37px;
}

.nav__list {
    padding: 0px;
    margin: 0px;
    width: 437px;
}

.nav__list .nav__list__elem {
    list-style: none;
    color: var(--standart-black);
    display: inline-block;
    margin-right: 45px;
}

.nav__list .nav__list__elem:last-child {
    margin-right: 0;
}

.header__link {
    color: var(--standart-black);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

.header__link:hover {
    color: var(--lazy-reed);
}

/*for active link*/
.header__link__active {  
    border-bottom: 2px solid var(--lazy-reed);
    pointer-events: none;
}

.header__link:active {
    color: var(--standart-black);
    opacity: 0.3;
}

.header__cart__logo {
    margin-right: 25px;
}
                    /*header carousel block*/

.header__carousel {
    position: relative;
}

.carousel__title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--standart-black);
    margin: 78px 0px 25px 0px;
}

.carousel__text {
    color: var(--lazy-black);
    margin-bottom: 38px;
}

.carousel__link {
    padding: 17px 54px 15px 54px;
}

.carousel_img {
    width: 760px;
    height: 431px;
}

.header__carousel__button {
    position: absolute;
    bottom: 96px;
    left: 536px;
}

.carousel__button__radio  {
    margin-right: 17px;
    width: 18px;
    height: 18px;
}
                    /*main block*/
        /*main=>web offers block*/

.web__offers {
    margin-top: 68px;
    padding-bottom: 80px;
    border-bottom: 2px solid var(--lazy-white);
}

.web__offers__list {
    list-style: none;
    padding: 0px 0px;
    margin: 0px 0px;
}

.web__offer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 100px;

}

.web__offer:last-child {
    margin-right: 0;
}

.web__offer__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--standart-black);
    margin: 25px 0 16px 0;
}

.web__offer__img {
    background-color: var(--lazy-grey);
    width: 300px;
    height: 146px;  
}

.web__offer__text {
    color: var(--lazy-black);
}

.web__off__app__btn {
    background-color: var(--green-standart);
}

.web__off__app__btn:hover {
    background-color: var(--green-lazy);
}

.web__off__app__btn:active {
    background-color: var(--green-active);
}

.web__off__pres__btn {
    background-color: var(--orange-standart);
}

.web__off__pres__btn:hover {
    background-color: var(--orange-lazy);
}

.web__off__pres__btn:active {
    background-color: var(--orange-active);
}
                /*main=>about us info block*/
/*info*/

.about__us {
    padding-top: 39px;
    padding-bottom: 75px;
    border-bottom: 2px solid var(--lazy-white);
}

.about__us__info__title {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--standart-black);
    margin-top: 34px;
    margin-bottom: 32px;
}

.about__us__info__text {
    color: var(--lazy-black);
}

.about__us__info__list__title {
    font-weight: bold;
    color: var(--lazy-black);
    font-size: 16px;
    line-height: 24px;
    margin-top: 40px;
    margin-bottom: 23px;
}

.about__us__info__list {
    list-style-type: none;
    color: var(--lazy-black);
    margin: 0px 0px;
    padding: 0px 0px;
}

.info__list__point {
    margin-bottom: 18px;
}


.info__list__point::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;    
    background: var(--lazy-reed);
    margin-right: 5px;
    margin-bottom: 4px;
}
/*stats*/
.about__us__stat__img {
    background-color: var(--lazy-grey);
    width: 360px;
    height: 208px;
}

.about__us__stat__list__title {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--standart-black);
    font-size: 16px;
    line-height: 24px;
    margin: 37px 0 31px 0;
}

.about__us__stat__list {
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
}

.stat__list__elem {
    display: inline-block;
    margin-right: 22px;
}

.stat__list__elem:last-child {
    margin-right: 0;
}

.stat__list__procent {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
}

.stat__list__text {
    font-size: 16px;
    line-height: 18px;
    color: var(--lazy-black);
    margin-top: 10px;
}
                    /*main=>our partners block*/

.our__partners {
    padding-top: 48px;
    padding-bottom: 46px;
    border-bottom: 2px solid var(--lazy-white);
}

.our__partners__list {
    list-style: none;
}

.our__partners__partner {
    opacity: 0.2;
}


.our__partners__partner:hover {
    opacity: 1;
}

.our__partners__partner:active {
    opacity: 0.1;
}
                        /*footer block*/
                    /*footer=>contact block*/

.footer {
    margin-top: 80px;
}

.contact__block {
    position: relative;
}

.contact__block__info {
    position: absolute;
    width: 219px;
    height: 212px;
    top: 54px;
    left: 140px;
    background-color: var(--standart-white);
    padding: 49px 50px 47px 50px;
}

.contact__block__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: var(--standart-black);
    text-transform: uppercase;
    margin-bottom: 22px;
}

.contact__block__address {
    margin-bottom: 10px;
}

.contact__block__address,
.contact__block__tel {
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: var(--lazy-grey);
}
                /*footer=>socials block*/

.footer__contacts {
    padding-top: 68px;
    padding-bottom: 74px;
}

.footer__social__list {
    margin: 0px 0px;
    padding: 0px 0px;
}

.footer__social__elem {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    margin-right: 9px;
}

.footer__social__button:hover .footer__social__button__path {
    fill: var(--active-red);
}

.footer__social__button:active .footer__social__button__path {
    fill: var(--dark-red);
}

.footer__social__button:active .footer__social__button__path__logo {
    fill: rgba(255, 255, 255, 0.3);
}

.footer__text {
    margin-left: 80px;
}

.footer__text__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--standart-black);
    margin: 10px 0 0 0 ;
    padding: 0;
}

.footer__text__desc {
    font-size: 16px;
    line-height: 22px;
    color: var(--goshawk-grey);
}

                                                            /*catalog Page style*/

.header__title__block {
    text-align: center;
    margin-top: 72px;
    margin-bottom: 108px;
}

.header__logo__index:hover {
    opacity: 0.7;
}

.header__logo__index:active {
    opacity: 0.5;
}

.header__title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--standart-black);
    margin: 0;
    padding: 0;
}

/*dispkay grid and flex style for catalog page*/

.main__catalog {
    display: grid;
    grid-template-columns: 260px 1fr;
    padding-top: 55px;
}

.catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    row-gap: 40px;
    column-gap: 30px;
}

.catalog__list__elem {
    align-self: end;
}

.main__catalog__sort {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/*catalog sort block*/

.catalog__sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.sort__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.sort__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sort__list__elem{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 0.3;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sort__list__elem__active {
    opacity: 1;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

.sort__list__list__elem {
    display: inline-block;
    margin-right: 25px;
}

.sort__list__list__elem:last-child {
    margin-right: 0;
}

.sort__list__elem:hover {
    opacity: 0.6;
}

.sort__list__elem:active {
    opacity: 1;
}

.list__elem__btn {
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-width: 0 5px 11px 5px;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: var(--black-opacity);
}

.list__elem__down__btn {
    margin-left: 22px;
    transform: rotate(180deg);
}

/*catalog list block*/

.main__catalog__list {
    margin-left: 140px;
}

.catalog__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog__list__elem {
    width: 358px;
    height: 578px;
}

.list__elem__img {
    background-color: var(--grey-d5);
}

.list__elem__info__block {
    background-color: var(--lazy-white);
    display: none;  /*position absolut hover block*/
}

.elem__info__block__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--standart-black);
    text-decoration: none;
}

.elem__info__block__title:hover {
    color: var(--lazy-reed);
}

.elem__info__block__title:active {
    color: var(--standart-black);
    opacity: 0.3;
}

.elem__info__block__text {
    font-size: 16px;
    line-height: 18px;
    color: var(--lazy-grey);
}

.elem__info__block__btn:active {
    color: var(--standart-white);
}

/*sort forms block*/

.sort__form__block {
    border: none;
}

.sort__cost {
    padding: 0;
    margin: 0 0 54px 0;
}

.sort__grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 43px 0;
}

.sort__features {
    padding: 0;
    margin: 0 0 48px 0;
    display: flex;
    flex-direction: column;
}

.sort__legend__cost {
    margin-bottom: 48px;
}

.sort__cost__range {
    width: 260px;
    height: 80px;
}

.sort__cost__fromTo {
    display: flex;
    justify-content: space-between;
}

.sort__legend_grid {
    margin-bottom: 13px;
}

.sort__legend__features {
    margin-bottom: 13px;
}

.cost__input {
    background-color: var(--lazy-white);
    border: none;
    width: 80px;
    height: 38px;
    text-align: center;
}

.sort__form__block input[type="radio"]:disabled + label,
.sort__form__block input[type="text"]:disabled + label,
.sort__form__block input[type="checkbox"]:disabled + label {
    opacity: 0.3;
}

.sort__legend {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    color: var(--standart-black);
}

.sort__lable {
    font-size: 16px;
    line-height: 20px;
    color: var(--lazy-black);
    margin-bottom: 15px;
}

.sort__lable:last-child {
    margin-bottom: 0;
}

.sort__lable__block {
    opacity: 0.3;
}

.main__catalog__sort__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border-radius: 3px;
    padding: 17px 88px 18px 88px;
    border: none;
    cursor: pointer;
}

.main__catalog__sort__btn:hover {
    background-color: var(--grey-df);
}

.main__catalog__sort__btn:active {
    background-color: var(--grey-d5);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

/*pagination block*/
.catalog__pagination {
    list-style: none;
    padding-left: 0;
    margin-top: 54px;
    margin-bottom: 60px;
}

.pagination__page {
    display: inline-block;
    margin-right: 11px;
}

.pagination__page:last-child {
    margin-right: 0;
}

.pagination__page__link {
    background-color: var(--lazy-white);
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--standart-black);
    padding: 17px 20px 15px 20px;
}

.page__next__link {
    padding: 17px 77px 15px 77px;
}

.pagination__page__link:hover {
    background-color: var(--grey-df);
}

.pagination__page__link:active {
    background-color: var(--grey-d5);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.pagination__page__active {
    background-color: var(--standart-white);
    border: 3px solid var(--grey-db);
    padding: 14px 17px 12px 17px;
    pointer-events: none;
}