.page {
    height: 100%;
}

.body {
    font-size: 16px;
    line-height: 24px;  
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto', 'Arial', sans-serif;

    box-sizing: border-box;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: start;

    word-break: break-word;
}

.overflow__body {
    overflow: hidden;
}
      
:root {
    --standart-black: #000;
    --black-opacity8: rgb(0, 0, 0, 0.8);
    --black-opacity4: rgb(0, 0, 0, 0.4);
    --lazy-black: #283136;
    --black-opacity:#231F20;
    --goshawk-grey: #444444;
    --lazy-grey: #666;
    --standart-white: #fff;
    --white-d7: #D7DCDE;
    --white-f1: #f1f1f1;
    --lazy-white: #EEEEEE;
    --grey-db: #DBDBDB;
    --grey-df: #DFDFDF;
    --grey-d5: #D5D5D5;;
    --grey-b4: #B4B9BB;
    --grey-cf: #cfcfcf;
    --grey-ab: #ababab;
    --lazy-reed: #FB565A;
    --active-red: #E74246;
    --dark-red: #D7373B;

    --green-standart: #00CA74;
    --orange-standart: #EFC849;
    --green-lazy: #00BC6C;
    --green-active: #00AA62;
    --orange-lazy: #EAB534;
    --orange-active: #E5A722;
}

.visually__hiden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

/*grid page style*/

.header__active {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 40px 0px;
}

.header__logo {
    align-self: center;
}

.nav {
    justify-self: center;
    align-self: center;
}

.header__cart {
    justify-self: end;
    align-self: center;
}

.web__offers__list {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: 300px 300px 300px;   
    grid-column-gap: 100px; 
}

.about__us {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.about__us__stat {
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our__partners__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 0px;
    padding: 0px 0px;
}

.contact__block .contact__block__map{
    width: 100%;
}

.footer__contacts {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
}

.footer__social__list {
    align-self: center;
}

.footer__text {
    align-self: center;
}

.standart__btn {  /*standart, hover and active style for all button*/
    text-decoration: none;
    border: none;
    color: var(--standart-white);
    background-color: var(--lazy-reed);
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    padding: 17px 40px 16px 39px;
}

.standart__btn:hover {
    background-color: var(--active-red);
}

.standart__btn:active {
    background-color: var(--dark-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
                    /*header block*/
 .header {       
    background-color: var(--lazy-white);
}

.header__active {
    margin: 0;
    padding: 0;
    margin-top: 49px;
}

.nav__list {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.nav__list .nav__list__elem {
    list-style: none;
    color: var(--standart-black);
}

.nav__list .nav__list__elem:not(:last-child) {
    margin-right: 45px;
}

.header__link {
    padding: 10px 0;
    color: var(--standart-black);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}

.header__link:hover{
    color: var(--lazy-reed);
}

/*for active link*/
.header__link__active {  
    padding-bottom: 13px;
    border-bottom: 2px solid var(--lazy-reed);
    pointer-events: none;
}

.header__link:active {
    color: var(--standart-black);
    opacity: 0.3;
}

.header__cart {
    display: flex;
    align-items: center;
}

.header__cart__logo {
    margin-right: 20px;
}
                    /*header carousel block*/

.tab { /*for js carousel*/
    display: none;
} 

.is-active {
    display: block;
}

.header__carousel {
    position: relative;
}

.header__carousel__block {
    min-height: 431px;
    width: 100%;
    background-image: url(../img/nerds-index-slide1.webp);
    background-repeat: no-repeat;
    background-size: 760px contain;
    background-position: right top;
}

.header__carousel__block__2 {
    background-image: url(../img/nerds-index-slide2.webp);
}

.header__carousel__block__3 {
    background-image: url(../img/nerds-index-slide3.webp);
}

.carousel_info {
    padding-top: 78px;
}

.carousel__title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--standart-black);
    margin: 0 0px 25px 0px;
    max-width: 600px;
}

.carousel__text {
    color: var(--lazy-black);
    margin: 0 0 38px 0;
    max-width: 450px;
}

.carousel__link {
    display: inline-block;
    vertical-align: baseline;
    padding: 17px 54px 15px 54px;
    max-width: 240px;
    margin-bottom: 15px;
}

.header__carousel__button {
    position: absolute;
    bottom: 96px;
    left: 536px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.carousel__button__radio  {
    margin-right: 17px;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 50%;
    background-color: var(--standart-white);
    position: relative;
}

.button__radio__active::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #C1C1C1;
    left: 4px;
    top: 4px;
}

                    /*main block*/
        /*main=>web offers block*/

.web__offers {
    margin-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid var(--lazy-white);
}

.web__offers__list {
    list-style: none;
    padding: 0px 0px;
    margin: 0px 0px;
}

.web__offer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.web__offer:last-child {
    margin-right: 0;
}

.web__offer__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
    color: var(--standart-black);
    margin: 0 0 16px 0;
}

.web__offer__img {
    background-color: var(--standart-white);
    width: 300px;
    height: 146px;  
    margin: 0 0 25px 0;
    order: -1;
    object-fit: contain;
}

.web__offer__text {
    color: var(--lazy-black);
    margin: 0 0 32px 0;
}

.web__off__app__btn {
    background-color: var(--green-standart);
}

.web__off__app__btn:hover {
    background-color: var(--green-lazy);
}

.web__off__app__btn:active {
    background-color: var(--green-active);
}

.web__off__pres__btn {
    background-color: var(--orange-standart);
}

.web__off__pres__btn:hover {
    background-color: var(--orange-lazy);
}

.web__off__pres__btn:active {
    background-color: var(--orange-active);
}
                /*main=>about us info block*/
/*info*/

.about__us {
    padding-top: 39px;
    padding-bottom: 73px;
    border-bottom: 2px solid var(--lazy-white);
    word-break: normal;
}

.about__us__info__title {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--standart-black);
    margin: 34px 0 32px 0;
}

.about__us__info__text {
    color: var(--lazy-black);
    margin: 0 0 40px 0;
}

.about__us__info__list__title {
    font-weight: bold;
    color: var(--lazy-black);
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 23px 0;
    text-transform: uppercase;
}

.about__us__info__list {
    list-style-type: none;
    color: var(--lazy-black);
    margin: 0px 0px;
    padding: 0px 0px;
}

.info__list__point:not(:last-child) {
    margin-bottom: 23px;
}

.info__list__point::before {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    width: 25px;
    height: 2px;    
    background: var(--lazy-reed);
    margin-right: 5px;
    margin-bottom: 4px;
}
/*stats*/
.about__us__stat__img {
    display: flex;
    background-color: var(--standart-white);
    width: 360px;
    height: 208px;
    margin: 0 0 28px 0;
    object-fit: contain;
}

.about__us__stat__list__title {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--standart-black);
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 30px 0;
}

.about__us__stat__list {
    list-style: none;
    margin: 0px 0px;
    padding: 0px 0px;
    display: flex;
    flex-wrap: wrap;
}

.stat__list__elem {
    flex: 1;
}

.stat__list__elem:not(:last-child) {
    margin-right: 20px;
}

.stat__list__procent {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
}

.stat__list__text {
    font-size: 16px;
    line-height: 18px;
    color: var(--lazy-black);
    margin: 0 0 0 0;
}
                    /*main=>our partners block*/

.our__partners {
    padding-top: 44px;
    padding-bottom: 43px;
    border-bottom: 2px solid var(--lazy-white);
}

.our__partners__list {
    list-style: none;
}

.our__partners__partner {
   /* flex: 1;*/
    flex-basis: 25%;
    text-align: center;
    position: relative;
}

.our__partners__partner:not(:nth-child(4n))::after {
    position: absolute;
    content: "";
    right: 0;
    top: calc(50% - 26px);
    width: 2px;
    height: 52px;
    background-color: var(--lazy-white);
}

.our__partners__link {
    opacity: 0.2;
}

.our__partners__link:hover {
    opacity: 1;
}

.our__partners__link:active {
    opacity: 0.1;
}

.our__parter__img {
    object-fit: scale-down;
}
                        /*footer block*/
                    /*footer=>contact block*/

.footer {
    margin-top: 80px;
}

.catalog__footer {
    margin-top: 0;
}

.contact__block {
    position: relative;
    display: flex;
}

.footer__container__map { /*container for block__info*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.contact__block__info {
    width: 219px;
    height: 212px;
    background-color: var(--standart-white);
    padding: 49px 50px 47px 50px;
}

.contact__block__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: var(--standart-black);
    text-transform: uppercase;
    margin: 0 0 22px 0;
}

.contact__block__address {
    margin-bottom: 10px;
}

.contact__block__address,
.contact__block__tel {
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: var(--lazy-grey);
}

.contact__block__tel:hover {
    color: var(--lazy-reed);
}

.contack__block__button {  /*<p> for button*/
    margin: 0;
    padding: 0;
}

.contact__block__btn {
    margin-top: 37px;
    padding: 17px 44px 15px 44px;
}

                /*footer=>socials block*/

.footer__contacts {
    margin-top: 68px;
    margin-bottom: 68px;
}

.footer__social__list {
    margin: 0px 0px;
    padding: 0px 0px;
    display: flex;
    align-items: center;
}

.footer__social__elem {
    list-style: none;
    cursor: pointer;
}

.footer__social__elem:not(:last-child) {
    margin-right: 9px;
}

.footer__social__button:hover .footer__social__button__path {
    fill: var(--active-red);
}

.footer__social__button:active .footer__social__button__path {
    fill: var(--dark-red);
}

.footer__social__button:active .footer__social__button__path__logo {
    fill: rgba(255, 255, 255, 0.3);
}

.footer__text__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--standart-black);
    margin: 0 0 10px 0 ;
    padding: 0;
}

.footer__text__desc {
    font-size: 16px;
    line-height: 22px;
    color: var(--goshawk-grey);
    margin: 0;
}

                                                            /*catalog Page style*/

.header__title__block {
    text-align: center;
    margin-top: 76px;
    margin-bottom: 108px;
}

.header__logo__link {
    height: 65px;
}

.header__logo__index:hover {
    opacity: 0.7;
}

.header__logo__index:active {
    opacity: 0.5;
}

.header__title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--standart-black);
    margin: 0;
    padding: 0;
}

/*dispkay grid and flex style for catalog page*/

.main__catalog {
    display: grid;
    grid-template-columns: 260px 897px;
    padding-top: 55px;
}

.catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    row-gap: 31px;
    column-gap: 41px;
}

.catalog__list__elem {
    align-self: end;
}

.main__catalog__sort {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/*catalog sort block*/

.catalog__sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.sort__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.sort__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.sort__list__elem{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 0.3;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sort__list__elem__active {
    opacity: 1;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

.sort__list__list__elem:not(:nth-child(3n)) {
    margin-right: 25px;
}

.sort__list__elem:hover {
    opacity: 0.6;
}

.sort__list__elem:active,
.sort__list__elem:focus{
    opacity: 1;
}

.sort__list__elem__btn:not(:last-child) {
    margin-left: 45px;
    margin-right: 18px;
}

.sort__list__elem__btn:last-child {
        margin: 0;
}

.list__elem__btn {
    width: 12px;
    height: 13px;
    background-image: url(../img/catalog/shape.svg);
    background-repeat: no-repeat;
    border-color: transparent;
    background-color: transparent;
}

.list__elem__up__btn {
    transform: rotate(180deg);
}

/*catalog list block*/

.main__catalog__list {
    margin-left: 140px;
    max-width: 897px;
}

.catalog__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog__list__elem {
    width: 358px;
    height: 618px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.catalog__list__elem:hover .catalog__list__elem__svg{
    opacity: 1; 
    transition: 0.4s;
}

.catalog__list__elem__svg {
    opacity: 0.12;
}

.list__elem__img {
    background-color: var(--grey-d5);
    box-shadow: 0px 3px 6px 1px #888888;
    object-fit: cover;
}

.catalog__list__elem:hover:before {
    position: absolute;
    content: "";
    left: 0;
    top: 40px;
    width: 100%;
    height: calc(100% - 40px);
    background-color: rgb(0, 0, 0, 0.4);   
    transition: 0.5s; 
}

.catalog__list__elem:hover .list__elem__info__block,
.catalog__list__elem:focus-within .list__elem__info__block {
    visibility: visible;
    opacity: 1;
}

.list__elem__info__block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 26px 0px 44px 0px;
    text-align: center;
    background-color: var(--lazy-white);
    visibility: hidden;
    opacity: 0;
    transition: 0.6s;
}

.elem__info__block__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--standart-black);
    text-decoration: none;
    margin-bottom: 12px;
}

.elem__info__block__title__text {
    margin: 0;
    padding: 0;
}

.elem__info__block__title:hover {
    color: var(--lazy-reed);
}

.elem__info__block__title:active {
    color: var(--standart-black);
    opacity: 0.3;
}

.elem__info__block__text {
    font-size: 16px;
    line-height: 18px;
    color: var(--lazy-grey);
    margin: 0 0 32px 0;
    padding: 0;
    font-weight: normal;
}

.elem__info__block__btn {
    padding: 17px 72px 17px 72px;
}

.elem__info__block__btn:active {
    color: var(--standart-white);
}

/*sort forms block*/

.aside__sort__form {
    max-width: 260px;
}

.sort__form__block {
    border: none;
}

.sort__grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 47px 0;
    overflow: hidden;
}

.sort__features {
    padding: 0;
    margin: 0 0 48px 0;
    display: flex;
    flex-direction: column;
}

.sort__legend_grid {
    margin-bottom: 13px;
}

.sort__legend__features {
    margin-bottom: 13px;
}

.sort__legend {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    color: var(--standart-black);
}

.sort__label {
    font-size: 16px;
    line-height: 20px;
    color: var(--lazy-black);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.sort__label:last-child {
    margin-bottom: 0;
}

.main__catalog__sort__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border-radius: 3px;
    padding: 17px 88px 18px 88px;
    border: none;
    cursor: pointer;
}

.main__catalog__sort__btn:hover {
    background-color: var(--grey-df);
}

.main__catalog__sort__btn:active {
    background-color: var(--grey-d5);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

/*sort block custom style for forms*/

                                /*range*/

.sort__cost {
    padding: 0px;
    border: none;
    width: 260px;
    margin-bottom: 54px;
}
  
.sort__cost__range {
    width: 260px;
    margin-top: 48px;
}
  
.range__controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--white-f1);
    border-radius: 5px;
}
  
.range__controls .scale {
    height: 2px;
    background: var(--white-d7);
    position: relative;
}
  
.range__controls .bar {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    background-color: #00CA74;
}
  
.range__controls .toggle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    background-color: var(--grey-ab);
    box-shadow: 0 2px 1px 0 var(--grey-cf);
    border: 7px solid var(--standart-white);
    border-radius: 50%;
}
  
.range__controls .toggle__min {
    left: 0;
}
  
.range__controls .toggle__max {
    left: 100%;
}
  
.range__price__controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.sort__cost__input {
    width: 60px;
    padding: 8px;
    text-align: center;
    color: var(--lazy-black);
    border: none;
    border-radius: 5px;
    background-color: var(--white-f1);
}
                                        /*radio*/
.sort__grid__label {
    margin-left: 1.8em;
    display: flex;
    align-items: center;
}

.sort__grid__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sort__grid__check__box { /*span*/
    position: absolute;
    margin-left: -1.8em;
    background-image: url(../img/catalog/radio.svg);
    background-repeat: no-repeat;
    opacity: 0.6;
    width: 1.5em;
    height: 1.5em;
    background-size: 1.5em;
}

/*hover*/
.sort__grid__label:hover .sort__grid__check__box {
    opacity: 1;
}

/*disabled*/
.sort__grid__input:disabled + .sort__grid__check__box{
    opacity: 0.3;
}

/*focus*/
.sort__grid__input:focus + .sort__grid__check__box {
    opacity: 1;
}

/*checked*/
.sort__grid__input:checked + .sort__grid__check__box {
    background-image: url(../img/catalog/radio-on.svg);
}

                                        /*checkbox*/

.sort__features__label {
    margin-left: 1.8em;
}

.sort__features__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sort__features__check__box {
    position: absolute;
    margin-left: -1.8em;
    margin-bottom: -5px;
    background-image: url('../img/catalog/checkbox-off.svg');
    background-repeat: no-repeat;
    opacity: 0.6;
    width: 1.5em;
    height: 1.5em;
    background-size: 1.5em;
}

.slider {
    margin: 0;
    padding: 0;
    word-break: break-word;
}

.sort__features__input:disabled ~ .slider {
    opacity: 0.3;
}

/*hover*/
.sort__features__label:hover .sort__features__check__box {
    opacity: 1;               
}

/*disabled*/
.sort__features__input:disabled + .sort__features__check__box {
    opacity: 0.3;
}

/*focus*/
.sort__features__input:focus + .sort__features__check__box {
    opacity: 1;
}

/*checked*/
.sort__features__input:checked + .sort__features__check__box {
    background-image: url('../img/catalog/checkbox-on.svg'); 
}

                                                        /*pagination block*/
.catalog__pagination {
    list-style: none;
    padding-left: 0;
    margin-top: 54px;
    margin-bottom: 60px;
    display: flex;
}

.pagination__page:not(:last-child) {
    margin-right: 11px;
}

.pagination__page__link {
    background-color: var(--lazy-white);
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--standart-black);
    padding: 17px 20px 15px 20px;
}

.page__next__link {
    padding: 17px 77px 15px 77px;
}

.pagination__page__link:hover {
    background-color: var(--grey-df);
}

.pagination__page__link:active {
    background-color: var(--grey-d5);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.pagination__page__active {
    background-color: var(--standart-white);
    border: 3px solid var(--grey-db);
    padding: 14px 17px 12px 17px;
    pointer-events: none;
}





/*modal*/

.modal__body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--black-opacity8);
}

.modal__content {
    overflow: auto;
    position: relative;
    z-index: 1;
    width: min-content;
    height: min-content;
    max-width: 65%;
    max-height: 65%;
    padding: 60px 100px 80px 100px;
    box-shadow: 0px 20px 40px var(--black-opacity4);
    background-color: var(--standart-white);
}

.modal__bg {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.close__modal {
    position: absolute;
    top: 78px;
    right: 90px;
}

.close__modal__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    opacity: 0.4;
}

.close__modal__btn:hover {
    transform: rotate(360deg);
    transition: 0.4s;
    opacity: 1;
}

.close__modal__btn:active:focus {
    opacity: 0.1;
}

.modal__form .modal__form__fieldset{
    border: none;
    margin: 0;
    padding: 0;
}

.modal__form__legend {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 37px;
}

.modal__form__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form__name__email {
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__form__name {
    margin-right: 40px;
}

.modal__label {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 9px;
}

.modal__input {
    width: 360px;

    background: var(--standart-white);
    border: 2px solid var(--white-d7);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 16px 16px 16px 16px;
}

.modal__input:hover {
    border: 2px solid var(--grey-b4);
}

.modal__input:active {
    border: 2px solid var(--standart-black);
}

.modal__form__text {
    margin-bottom: 35px;
}

.modal__input__textarea {
    width: 760px;
    height: 118px;
    background: #FFFFFF;
    border: 2px solid var(--white-d7);
    box-sizing: border-box;
    border-radius: 3px;
}

.modal__btn__block {
    align-self: flex-start;
}

.modal__btn__submit {
    padding: 17px 83px 15px 83px;
    text-transform: uppercase;
}

.modal {
    display: none;
}

.modal__show {
    display: block;
}